
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_GbtsLayout.cshtml";
    string TestingName = ViewBag.Name;
    var obj = (List<Gbts.Repository.KritiJi>)ViewBag.Kriticlass;
}

<div class="page-content">

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Dashboard</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>

<h3 class="page-title">
    Dashboard
    <small>dashboard & statistics</small>
</h3>
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Table
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-plus"></i> Add
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-sm">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes" />
                                </th>
                                <th>FirstName </th>
                                <th>LastName</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                                @foreach( var item in obj )
                                {
                                    <tr class="odd gradeX">

                                        <td>
                                            <input type="checkbox" class="checkboxes" value="1" />
                                        </td>
                                        <td> @item.FirstName </td>
                                        <td>@item.LastName</td>
                                        <td>@item.Email</td>
                                        <td>@item.PhoneNumber</td>
                                    </tr>
                                }

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    <div class="clearfix"></div>
</div>